doctype html
html 
    head 
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body    
        h1 Animals

        a(href='/') Return to the homepage

        .form-wrapper
            form(method="POST")
                label(for="newAnimalName") New Animal
                input(type="text" name="newAnimalName" required)
                label(for="newAnimalType") Animal Type
                input(type="text" name="newAnimalType" required)
                label(for="newAnimalWeight") Animal Average Weight lb
                input(type="text" name="newAnimalWeight" required)
                label(for="newAnimalLength") Animal Average Length m
                input(type="text" name="newAnimalLength" required)
                input(type="submit" value="Submit")

